* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: black;
  color: #fdfdfd;
}

a {
  text-decoration: none;
}

.nav-list {
  float: right;
  margin: 10px;
}

.nav-item {
  display: inline;
  padding: 10px;
}

.nav-item:hover .nav-link {
  color: orange;
  padding-bottom: 4px;
  border-bottom: 2px solid orange;
}

.nav-link {
  color: #fdfdfd;
  font-size: 20px;
}

.page__heading {
  color: orange;
  font-size: 60px;
  font-weight: bolder;
  text-align: center;
}

table,
th,
td {
  border: 2px solid orange;
  border-collapse: collapse;
}
th,
td {
  padding: 10px;
  text-align: center;
}

th {
  color: orange;
}

footer {
  position: relative;
  bottom: 0;
  text-align: center;
}
