* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: black;
  color: #fdfdfd;
}

a {
  text-decoration: none;
}

.nav-list {
  float: right;
  margin: 10px;
}

.nav-item {
  display: inline;
  padding: 10px;
}

.nav-item:hover .nav-link {
  color: orange;
  padding-bottom: 4px;
  border-bottom: 2px solid orange;
}

.nav-link {
  color: #fdfdfd;
  font-size: 20px;
}

.page__heading {
  color: orange;
  font-size: 60px;
  font-weight: bolder;
  text-align: center;
}

.cards {
  display: flex;
}

.card {
  width: 250px;
  height: 400px;
  margin: 10px;
  background-color: transparent;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  background-color: orange;
  color: white;
  transform: rotateY(180deg);
}

.player_name {
  color: orange;
}

.player_info {
  margin-top: 45%;
}

section {
  margin-bottom: 40px;
}

footer {
  position: relative;
  bottom: 0;
  text-align: center;
}
